/*body {
    text-align: center;
} */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../images/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Nanum Gothic Coding', monospace;
	position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.instructions {
	margin-top: 15px;
	color: red;
}

.score-panel {
	position: absolute;
	top: 0%;
}

.final-info {
	position: absolute;
}

.invisible {
	visibility: hidden;
}

.final-info ul {
	list-style: none;
	padding: 0px;
}

.right-just {
	display: inline-block;
	min-width: 180px;
}

h1 {
    font-weight: 300;
}



/*
 * Styles for the Score Panel
 */

.score-panel {
	display: flex;
	justify-content: space-between;
    text-align: left;
    width: 505px;
    margin-bottom: 0px;
}

.move-count,
.level-count,
.game-score,
.final-count,
.right-just,
.instructions {
	font: 10 1.25em 'Nanum Gothic Coding', monospace;
}

.new-stats .final-restart {
	cursor: pointer;
}

.final-restart {
	color: red;
}

